<a href="https://colab.research.google.com/github/Stephen42Kim/IHS/blob/main/Top50MSASpectralClustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IHS Urban Spectral Clustering On Top 50 MSAs

In [2]:
import requests                   # Make HTTP requests
import json                       # Load US Census datasets as JSON
import chardet                    # Character encoding auto-detection
import numpy as np
import pandas as pd
#from google.colab import files   # Access local directory
from google.colab import drive    # Access Google Drive (in folder /content/drive/My Drive/IHS/)
drive.mount('/content/drive')

Mounted at /content/drive

# Data Preprocessing

##Load PUMA/MSA crosswalk and list of top 50 MSA's by population

In [3]:
# Load puma_to_cbsa_Crosswalk.csv file (Usa CBSA as MSA)

with open('/content/drive/My Drive/IHS/PumaToCBSACrosswalk.csv', 'rb') as f:
    result = chardet.detect(f.read())                           # Detect encoding of the file (use readline() if file is large)
pumaMSACrossDF = pd.read_csv('/content/drive/My Drive/IHS/PumaToCBSACrosswalk.csv', encoding=result['encoding'])
pumaMSACrossDF.columns = ['ST', 'PUMA', 'CBSA#','stab','CBSA']  # Format column names
pumaMSACrossDF['ST'] = pumaMSACrossDF['ST'].astype('string')    # Convert 'ST' (State) column to string type
print('5 Features, 2203 Entries')
pumaMSACrossDF.head()

5 Features, 2203 Entries

  ST PUMA  CBSA# stab                        CBSA
0  1  100  22520   AL  Florence-Muscle Shoals, AL
1  1  200  26620   AL              Huntsville, AL
2  1  301  26620   AL              Huntsville, AL
3  1  302  26620   AL              Huntsville, AL
4  1  400  22840   AL              Fort Payne, AL

In [ ]:
# Create list for top 50 MSAs by population - load excel file

x = list(pd.read_excel('/content/drive/My Drive/IHS/Top50MSAByPop.xlsx', sheet_name='Sheet1').iloc[3:,1])

# Remove unnecessary punctuation and suffixes
for j in range(len(x)):
  x[j] = x[j].removeprefix('.')
  x[j] = x[j].removesuffix(' Metro Area')

x[:5]

['New York-Newark-Jersey City, NY-NJ-PA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Chicago-Naperville-Elgin, IL-IN-WI',
 'Dallas-Fort Worth-Arlington, TX',
 'Houston-The Woodlands-Sugar Land, TX']